@model PixelApp.Views.Find.Models.FindZombiesViewModel
@{
    ViewBag.Title = "Hunt Zombies";
}

<div class="alert alert-info">
    <p>
        Venture outside of your territory to clear out some undead threats, but be careful, they bite
    </p>
    <p>
        <strong>Click 'Hunt' to use 10 energy and go fight zombies!</strong> Winning rewards xp and resources while losing takes them away.
        Reach 0 life and you'll lose more!
    </p>
</div>

<p>
    <a href="@Url.Action("Zombies", new { hunt = true })" class="btn btn-lg btn-danger">Hunt! @(Model.ShowBattle ? "(again!)" : string.Empty)</a>
</p>

@if (Model.ShowBattle)
{
    <h2 class="alert alert-@(Model.IsWin ? "success" : "danger")">@string.Format("You {0}!", Model.IsWin ? "Won" : Model.IsDead ? "Died" : "Lost")</h2>

    <p class="alert alert-info">@Model.BattleText</p>
    <p class="alert alert-@(Model.IsWin ? "success" : "danger")">@Model.ResourceText</p>
}
else if (!string.IsNullOrWhiteSpace(Model.BattleText))
{
    <p class="alert alert-info">@Model.BattleText</p>
}