@model PixelApp.Models.Trade

@{
    ViewBag.Title = "Cancel";
}

<h2>Cancel</h2>

<h3>Are you sure you want to cancel this?</h3>
<h4 class="alert alert-info">If you cancel, you will get your offer resources back.</h4>
<div>
    <h4>Trade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityOffered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityOffered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOffered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOffered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityAsked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityAsked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeAsked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeAsked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Posted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posted)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancel" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
