@model IEnumerable<PixelApp.Models.Trade>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Owner.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TradedToUser.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityOffered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOffered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityAsked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeAsked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TradedToUser.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityOffered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOffered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityAsked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeAsked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Posted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TradeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TradeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TradeId })
        </td>
    </tr>
}

</table>
