@model IEnumerable<PixelApp.Models.Trade>

@{
    ViewBag.Title = "Trades";
}

<p>
    @Html.ActionLink("Add Trade", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Owner
        </th>
        <th>
            Offer
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            Asking
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            Posted
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityOffered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOffered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityAsked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeAsked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Posted)
        </td>
        <td>
            @Html.ActionLink("Accept", "Accept", new { id=item.TradeId }) |
            @Html.ActionLink("Cancel", "Cancel", new { id=item.TradeId })
        </td>
    </tr>
}

</table>
