@model IEnumerable<PixelApp.Models.Trade>

@{
    ViewBag.Title = "Trades";
    var isError = ViewBag.IsError != null && ViewBag.IsError == true;
    var message = ViewBag.Message != null ? ViewBag.Message : string.Empty;
}

<h2>Trade Board</h2>

<div class="alert alert-info">
    <p>Post wanted adds for resources and items that you need.</p>
    <p><strong>Click 'Add trade' to puplish a trade offer. </strong>The resources/items you offer will be held until you cancel the trade.</p>
</div>

<p>
    @Html.ActionLink("Add Trade", "Create", null, new { @class = "btn btn-success" })
</p>

<div class="alert alert-@(isError ? "danger": "success")" style="@(string.IsNullOrWhiteSpace(message) ? "display:none;" : string.Empty)">
    @message
</div>

<table class="table table-striped">
    <tr>
        <th>
            Owner
        </th>
        <th>
            Offer
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            Asking
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            Posted
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityOffered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOffered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityAsked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeAsked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Posted)
        </td>
        <td>
            @Html.ActionLink("Accept", "Accept", new { id=item.TradeId }, new { @class = "label label-success" }) |
            @Html.ActionLink("Cancel", "Cancel", new { id=item.TradeId }, new { @class = "label label-danger" })
        </td>
    </tr>
}

</table>
