@model PixelApp.Views.Dashboard.Models.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="row">
    <div class="col-sm-6">
        <h4>Territory: <strong>@Model.TerritoryName @($"({Model.TerritoryX}, {Model.TerritoryY})")</strong></h4>
        <p>Type: <strong>@Model.TerritoryType</strong></p>
        <p>Outskirts appeal: <strong>@Model.OutskirtsAppeal</strong></p>
        <h4>Resources</h4>
        <ul>
            @foreach (var res in Model.Resources)
            {
                <li>@res.Name: @res.Count</li>
            }
        </ul>
        <p>Civilian Population: <strong>@Model.CivilianPopulation</strong></p>
        <p>Todo: link to map</p>
        <p>
            Neighboring Territories:
            <ul>
                @foreach (var neighbor in Model.Neighbors)
                {
                    <li>@neighbor.Direction: <strong>@neighbor.TerritoryName</strong></li>
                }
            </ul>
        </p>
    </div>
    <div class="col-sm-6">
        <h4>Daily Task: <strong>@Model.DailyTask</strong></h4>
        <p>Time to completion: todo</p>
        <h4>Research</h4>
        <p>Progress: todo</p>
    </div>
</div>