@model PixelApp.Views.Map.Models.MapViewModel
@{
    ViewBag.Title = "Local Territory Map";
    var assetPath = "//storageasagvk5xvrja2.blob.core.windows.net/assets/";
}

<style>

    .map-canvas{
        background-color: #b9bbb4;
    }

    .nomarginnopadding{
        padding:0px;
        margin:0px;
    }

    .territory{
        margin:1px;
        height:4vw;
    }

    .primary{
        border:3px solid;
        border-color:red;
    }

</style>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}

<h2>Local Territory Map</h2>

<div class="row">
    <div class="well well-lg nomarginnopadding clearfix map-canvas">
        <div class="col-xs-1">&nbsp;</div>
        <div class="col-xs-11" style="padding-top:30px; padding-bottom:30px;">
            @for (int x = (Model.X - 5); x <= (Model.X + 5); x++)
            {
                <div class="col-xs-1 nomarginnopadding">
                    @for (int y = (Model.Y + 5); y >= (Model.Y - 5); y--)
                {
                    var pixel = Model.Territories.Where(z => z.X.Equals(x) && z.Y.Equals(y)).FirstOrDefault();
                    if (pixel != null)
                    {
                            <div class="territory @(pixel.X == Model.X && pixel.Y == Model.Y ? "primary" : "")" data-toggle="tooltip" title="@pixel.Name @pixel.UserName">
                                <img class="type" style="width:100%; height:100%;" src="@($"{assetPath}{pixel.Type.ToString().ToLower()}.png")" alt="@pixel.Type" />
                            </div>
                        }
                        else
                        {
                            <div class="territory" style="background-color:black;">&nbsp;</div>
                        }
                    }
                </div>
            }
        </div>
    </div>

</div>