@model PixelApp.Models.ItemIngredient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ItemIngredient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IngredientItem.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngredientItem.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemIngredientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
