@model PixelApp.Views.Research.Models.ResearchViewModel
@{
    ViewBag.Title = "Research";
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('.tech').on('click', function () {
                alert('fefsfe');
                var techname = $(this).data("techname");
                var data = {
                    technologyId: $(this).data('techid')
                };
                $.ajax({
                    type: 'post',
                    url: '/research/startresearch',
                    data: data,
                    success: function (data) {
                        if (data.success) {
                            toastr.success(techname + ' is now being researched.');
                        } else {
                            toastError(data.message);
                        }
                    },
                    error: function (error) {
                        toastError('There was a problem researching ' + techname + '. Please try again later.');
                    }
                });
            });

            function toastError(message) {
                if (message.length) {
                    toastr.error(message);
                } else {
                    toastr.error('There was a problem. Please try again later.');
                }
            }
        });
    </script>
}

<style type="text/css">
    .research-info {
        background-color: #b9bbb4;
        padding: 30px !important;
    }

        .research-info img.type {
            border: 3px solid #666;
        }

    .titles {
        padding-top: 0px;
    }

    .tech {
        padding-bottom: 10px;
    }

        .tech a {
            text-decoration: none;
            color: black;
        }
</style>

<div class="alert alert-danger">
    Coming soon! Nothing works on this page yet.
</div>

<div class="row research-info">
    <div class="col-sm-4">
        <h1 class="text-center titles">Resources</h1>
        @foreach (var tech in Model.Technologies.Where(x => x.TechnologyTypeId.Equals(Pixel.Common.Data.TechnologyTypes.Resource)))
        {
            <div class="well well-sm tech clearfix" data-techid="@tech.TechnologyId" data-techname="@tech.Name">
                <span class="col-xs-2" data-toggle="tooltip" title="@tech.Description"><a><i style="font-size:18px;" class="pull-left fa fa-plus-circle"></i></a></span>
                <span class="col-xs-10">@tech.Name</span>
            </div>
        }
    </div>
    <div class="col-sm-4">
        <h1 class="text-center titles">Military</h1>
        @foreach (var tech in Model.Technologies.Where(x => x.TechnologyTypeId.Equals(Pixel.Common.Data.TechnologyTypes.Military)))
        {
            <div class="well well-sm tech clearfix">
                <span class="col-xs-2" data-toggle="tooltip" title="@tech.Description"><a><i style="font-size:18px;" class="pull-left fa fa-plus-circle"></i></a></span>
                <span class="col-xs-10">@tech.Name</span>
            </div>
        }
    </div>
    <div class="col-sm-4">
        <h1 class="text-center titles">Culture</h1>
        @foreach (var tech in Model.Technologies.Where(x => x.TechnologyTypeId.Equals(Pixel.Common.Data.TechnologyTypes.Culture)))
        {
            <div class="well well-sm tech clearfix">
                <span class="col-xs-2" data-toggle="tooltip" title="@tech.Description"><a><i style="font-size:18px;" class="pull-left fa fa-plus-circle"></i></a></span>
                <span class="col-xs-10">@tech.Name</span>
            </div>
        }
    </div>
</div>
