@model PixelApp.Views.Research.Models.ResearchViewModel
@{
    ViewBag.Title = "Research";
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}

<style type="text/css">
    div.research-info {
        background-color: #b9bbb4;
        color: black;
        padding-left: 30px !important;
        padding-right: 30px !important;
        padding-top: 15px !important;
    }

    .research-info img.type {
        border: 3px solid #666;
    }

    .titles {
        margin-top: 0px;
    }

    .tech {
        padding-bottom: 10px;
    }

        .tech:hover {
            cursor: pointer;
            cursor: hand;
        }

        .tech a {
            text-decoration: none;
        }

    div.currently {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
</style>

@if (Model.CurrentlyResearching != null)
{
    <div class="row research-info currently">
        <h4 class="text-center">Currently Researching</h4>
        <h5 class="text-center">@Model.CurrentlyResearching.Technology.Name</h5>
        <div class="progress-bar researching" role="progressbar" aria-valuenow="@(Math.Round((DateTime.Now - Model.CurrentlyResearching.ResearchStartDate).TotalHours / (Model.CurrentlyResearching.Technology.ResearchDays * 24), 2))" aria-valuemin="0" aria-valuemax="100" style="width:@(Math.Round((DateTime.Now - Model.CurrentlyResearching.ResearchStartDate).TotalHours / (Model.CurrentlyResearching.Technology.ResearchDays * 24), 2))"></div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="@(Math.Round((DateTime.Now - Model.CurrentlyResearching.ResearchStartDate).TotalHours / (Model.CurrentlyResearching.Technology.ResearchDays * 24), 2) * 100)"
                 aria-valuemin="0" aria-valuemax="100" style="width:@(Math.Round((DateTime.Now - Model.CurrentlyResearching.ResearchStartDate).TotalHours / (Model.CurrentlyResearching.Technology.ResearchDays * 24), 2) * 100)%">
                <span style="margin-top:5px;">@(Math.Round((DateTime.Now - Model.CurrentlyResearching.ResearchStartDate).TotalHours / (Model.CurrentlyResearching.Technology.ResearchDays * 24), 2) * 100)%</span>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
}

<div class="row research-info">
    @foreach (var techType in Enum.GetValues(typeof(Pixel.Common.Data.TechnologyTypes)))
    {
        <div class="col-sm-4">
            <h1 class="text-center titles">@techType</h1>
            @foreach (var tech in Model.Technologies.Where(x => x.TechnologyTypeId.Equals(techType)))
            {
                var completedResearch = Model.ResearchedTechnologyIds.Contains(tech.TechnologyId);
                var isCurrent = Model.CurrentlyResearching?.TechnologyId == tech.TechnologyId;

                <div class="well well-sm tech clearfix">
                    <a href="/Research/TechDetail?technologyId=@tech.TechnologyId">
                        <span class="col-xs-2" data-toggle="tooltip" 
                              title="@(completedResearch ? "Researched" : isCurrent ? "Currently researching" : "Not yet researched")">
                            <i style="font-size:18px;" 
                               class="pull-left fa fa-plus-circle @(completedResearch ? "text-danger" : isCurrent ? "text-warning" : "text-success")"></i>
                        </span>
                        <span class="col-xs-10">@tech.Name</span>
                    </a>
                </div>
            }
        </div>
    }
</div>
