@model PixelApp.Models.RegisterViewModel
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="top-content">
    <div class="container top-container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title">Pixelocaplyse</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-push-8 col-md-offset-0">
                <div class="register-container">
                    <h1>Play For Free!</h1><br>
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.TextBoxFor(x => x.UserName, new { placeholder = "Character Name" })
                        @Html.TextBoxFor(x => x.Email, new { placeholder = "Email" })
                        @Html.TextBoxFor(x => x.Password, new { placeholder = "Password", type = "password" })
                        @Html.TextBoxFor(x => x.ConfirmPassword, new { placeholder = "Confirm Password", type = "password" })
                        <input type="submit" name="register" class="register register-submit" value="Register">
                    }
                    <div class="register-help">
                        @Html.ActionLink("Login", "Login", "Account", null, null) - @Html.ActionLink("Forgot Password", "ForgotPassword", "Account", null, null)
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-pull-4 col-md-offset-0">
                <div class="marketing-container">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non odio ipsum. Pellentesque id tempor tellus, at malesuada leo. Aliquam euismod mi sem, eu mattis nisl rutrum in. Ut laoreet interdum ex vitae volutpat. Nulla non ligula sapien. Maecenas in magna molestie nisi tincidunt fringilla. Quisque posuere felis quis congue tristique. Integer tristique eros augue, eget convallis mi commodo at. Quisque maximus, leo at ullamcorper laoreet, ipsum turpis finibus ex, nec semper lorem justo sit amet risus. Proin rutrum libero libero, ac pulvinar diam faucibus id. Integer rhoncus nunc id vehicula ultrices. Cras nibh mauris, fermentum sit amet congue ut, vehicula ut sem. Maecenas tristique tempus lobortis. Morbi ipsum nulla, viverra ut convallis eget, finibus sed urna.
                    </p>
                    <p>
                        Sed nec leo et arcu molestie scelerisque. Nulla finibus, quam id ullamcorper dictum, felis justo bibendum purus, cursus venenatis nunc dolor eget tortor. Fusce non metus sit amet erat viverra maximus id eget urna. Donec pulvinar at erat sed cursus. Aliquam ac lobortis leo. Pellentesque euismod metus felis, nec efficitur orci fringilla id. Proin blandit diam quam, ac consequat augue rhoncus vitae. Aliquam sollicitudin augue vitae lacus porttitor, in placerat nunc iaculis. Vestibulum pulvinar arcu augue, id vehicula nibh porttitor nec. Proin et lorem a velit ultrices convallis sed non ex. Mauris fermentum felis at massa volutpat sagittis. Fusce eleifend id felis in dignissim. Nam mattis ultrices scelerisque.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

