@model PixelApp.Models.RegisterViewModel
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<style type="text/css">
    .marketing-container strong {
        color: #ff0c11;
    }
</style>

<div class="top-content">
    <div class="container top-container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title">Pixelocalypse</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-push-8 col-md-offset-0">
                <div class="register-container">
                    <h1>Play For Free!</h1><br>
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.TextBoxFor(x => x.UserName, new { placeholder = "Character Name" })
                        @Html.TextBoxFor(x => x.Email, new { placeholder = "Email" })
                        @Html.TextBoxFor(x => x.Password, new { placeholder = "Password", type = "password" })
                        @Html.TextBoxFor(x => x.ConfirmPassword, new { placeholder = "Confirm Password", type = "password" })
                        <input type="submit" name="register" class="register register-submit" value="Register">
                    }
                    <div class="register-help">
                        @Html.ActionLink("Login", "Login", "Account", null, null) - @Html.ActionLink("Forgot Password", "ForgotPassword", "Account", null, null)
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-pull-4 col-md-offset-0">
                <div class="marketing-container">
                    <p>
                        Pixelocalypse is a persistent browser-based game set in a not-to-distant-future. <strong>Recent political turmoil</strong> after the
                        fallout of an elected bigot turned the country against itself. <strong>Social media activists actually got out of their chairs</strong>,
                        turning to violent protests and vandalism in the name of "justice" because they didn't agree with the outcome of the
                        election. They <strong>clashed in the streets with far-right reactionaries</strong>--the very people behind electing the disputed
                        commander-in-chief. Our newly elected leader exercised the only power his feeble mind could understand: the fascist,
                        iron hand of martial law, <strong>military presence in major cities</strong>--all an attempt to reign in control--or perhaps more...
                    </p>
                    <p>
                        Eventually, the elements fighting in such unison <strong>turned against each other</strong>. The riots took a bloodier turn than ever
                        before. Rogue elements of the military, driven by their directive to create order in an otherwise chaotic nightmare, 
                        longed to wage <strong>chemical and biological war against their own people</strong>. Soon after, the bloodshed no longer recognized
                        friend from foe. The agents once used for simple crowd control now wreaked havoc unbiased and unchecked. <strong>Something new
                        was born--a new species</strong>--a new race--a new creed. This new progeny mimicked its creator, destroying life unbiased and
                        unchecked. The closest word to describing these "things" was: <strong>zombie</strong>--something undead, feeding off
                        the living, leaving in its wake the bloody echo of humanity turned inward onto itself. <strong>The world is destroyed--will you survive?</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

