@{ 
    var ogtitle = "Pixelocalypse - A Browser Game";
    var ogdescription = "The world has fallen into dark times after recent political turmoil. Can your territory survive the recreation of society?";
    var ogurl = "http://pixelocalypse.com";
    var ogimageurl = "http://pixelocalypse.com/Content/dashboard-bg.jpg";
    var twittersitename = "@pixelocalypse";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pixelocalypse</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
    @Scripts.Render("~/bundles/modernizr")

    <meta property="og:title" content="@ogtitle" />
    <meta property="og:description" content="@ogdescription" />
    <meta property="og:url" content="@ogurl" />
    <meta property="og:image" content="@ogimageurl" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="450" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@twittersitename" />
    <meta name="twitter:title" content="@ogtitle" />
    <meta name="twitter:description" content="@ogdescription" />
    <meta name="twitter:image" content="@ogimageurl" />

    <style type="text/css">
        footer {
            position: absolute;
            bottom: 0;
            margin-left: 15px;
        }

        @@media (max-width: 768px) {
            footer {
                top: 0;
                position: relative;
            }
        }

        body {
            margin: 0;
            padding-top: 0;
            background-color: #464447;
            color: #b9bbb4;
            padding-bottom: 15px;
        }

        .top-content {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            padding-top: 90px;
        }

        @@media (max-width: 768px) {
            .top-content {
                padding-top: 30px;
            }
        }

        @@media (min-width: 768px) {
            .top-content {
                background-image: url('/Content/pixel-home-bg2.jpg');
                background-size: cover;
            }
        }

        /****** register ******/
        .register-container {
            padding: 30px;
            max-width: 350px;
            width: 100% !important;
            background-color: #222123;
            margin: 0 auto;
            border-radius: 2px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            font-family: roboto;
        }

            .register-container h1 {
                text-align: center;
                font-size: 1.8em;
                font-family: roboto;
            }

            .register-container input[type=submit] {
                width: 100%;
                display: block;
                margin-bottom: 10px;
                position: relative;
            }

            .register-container input[type=text], input[type=password] {
                height: 44px;
                font-size: 16px;
                width: 100%;
                margin-bottom: 10px;
                -webkit-appearance: none;
                background: #fff;
                border: 1px solid #d9d9d9;
                border-top: 1px solid #c0c0c0;
                /* border-radius: 2px; */
                padding: 0 8px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
            }

                .register-container input[type=text]:hover, input[type=password]:hover {
                    border: 1px solid #b9b9b9;
                    border-top: 1px solid #a0a0a0;
                    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                }

        .register {
            text-align: center;
            font-size: 14px;
            font-family: 'Arial', sans-serif;
            padding: 0 8px;
            /* border-radius: 3px; */
            /* -webkit-user-select: none;
          user-select: none; */
        }

        .register-submit {
            /* border: 1px solid #3079ed; */
            border: 0px;
            color: inherit;
            text-shadow: 0 1px rgba(0,0,0,0.1);
            background-color: #30312e;
            padding: 17px 0px;
            font-family: roboto;
            font-size: 14px;
            /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
        }

            .register-submit:hover {
                /* border: 1px solid #2f5bb7; */
                border: 0px;
                text-shadow: 0 1px rgba(0,0,0,0.3);
                background-color: #151711;
                /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
            }

        .register-container a {
            text-decoration: none;
            color: inherit;
            font-weight: 400;
            text-align: center;
            display: inline-block;
            opacity: 0.6;
            transition: opacity ease 0.5s;
        }

        .register-help {
            font-size: 12px;
        }

        @@media (max-width: 992px) {
            .register-container {
                margin-top: 30px;
                max-width: inherit;
            }

            h1.title {
                text-align: center;
            }
        }

        .marketing-container {
            padding: 30px;
            background-color: rgba(70, 68, 71, 0.8);
        }

        @@media (min-width: 768px) and (max-width: 992px) {
            .marketing-container {
                display: none;
            }
        }
    </style>
</head>
<body>
    
    @RenderBody()
    <footer>
        <p>&copy; @DateTime.Now.Year - Pixelocalypse</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
