<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        .progress-bar { 
            font-weight: bold;
        }
        .progress-bar.life {
            background-color: #d9534f;
        }
        .progress-bar.energy {
            background-color: #f0ad4e;
        }
        .main {
            background-image: url('/Content/dashboard-bg.jpg');
            background-size: cover;
            top: 0;
            bottom: 0;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse sidebar" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:void(0);">Pixelocalypse</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="vitals">
                        <strong>Name:</strong> @ViewBag.Username<br />
                        <strong>Level:</strong> @ViewBag.Level<br /><br />
                        Life: <span class="text-muted">@ViewBag.Life / @ViewBag.MaxLife</span>
                        <div class="progress">
                            <div class="progress-bar life" role="progressbar" aria-valuenow="@ViewBag.Life" aria-valuemin="0" aria-valuemax="@ViewBag.MaxLife" style="width:@ViewBag.Life%"></div>
                        </div>
                        Energy: <span class="text-muted">@ViewBag.Energy / @ViewBag.MaxEnergy</span>
                        <div class="progress">
                            <div class="progress-bar energy" role="progressbar" aria-valuenow="@ViewBag.Energy" aria-valuemin="0" aria-valuemax="@ViewBag.MaxEnergy" style="width:@ViewBag.Energy%"></div>
                        </div>
                    </li>
                    <li class="active"><a href="@Url.Action("Index", "Home")">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                    <li><a href="@Url.Action("Index", "Profile")">Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                    <li><a href="@Url.Action("Index", "Research")">Research<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tree-deciduous"></span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li><a href="javascript:void(0);">Coming Soon!</a></li>
                        </ul>
                    </li>
                    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="javascript:signOut();">Sign Out</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "signout-form" }))
    {
        @Html.AntiForgeryToken()
    }
    <div class="main">
        <!-- Content Here -->
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Pixelocalypse</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @RenderSection("scripts", required: false)

    <!-- theme setup -->
    <script type="text/javascript">
        function htmlbodyHeightUpdate() {
            var height3 = $(window).height()
            var height1 = $('.nav').height() + 50
            height2 = $('.main').height()
            if (height2 > height3) {
                $('html').height(Math.max(height1, height3, height2) + 10);
                $('body').height(Math.max(height1, height3, height2) + 10);
            }
            else {
                $('html').height(Math.max(height1, height3, height2));
                $('body').height(Math.max(height1, height3, height2));
            }

        }
        function signOut() {
            $('#signout-form').submit();
        }
        $(document).ready(function () {
            htmlbodyHeightUpdate()
            $(window).resize(function () {
                htmlbodyHeightUpdate()
            });
            $(window).scroll(function () {
                height2 = $('.main').height()
                htmlbodyHeightUpdate()
            });
        });
    </script>
    <!-- /theme setup-->
</body>
</html>
