@model IEnumerable<PixelApp.Models.Territory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.X)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Y)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Water)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wood)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Food)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Oil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iron)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CivilianPopulation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.X)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Y)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Water)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wood)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Food)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Oil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iron)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CivilianPopulation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TerritoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TerritoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TerritoryId })
        </td>
    </tr>
}

</table>
